body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
    overflow: hidden;
}
  
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px;
}

.login-form h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: 0.3s ease;
}

.login-form input:focus {
    border-width: 1px;
    border-color: #007bff;
    outline: none;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.login-form button:hover {
    background-color: #489e4e;
}

.login-form p {
    margin-top: 15px;
}

.login-form a {
    color: #007bff;
    text-decoration: none;
}

.login-form a:hover {
    text-decoration: underline;
}

.url-card {
    margin-bottom: 20px;
}