<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/js/script.js"></script>
    <title>Sign Up</title>
</head>
<body>
    <div class="container">
        <form class="login-form" onsubmit="event.preventDefault(); signUp();">
            <h1>Welcome!</h1>
            <p style="color: red; text-align: left;" class="form-error"></p>
            <input type="email" placeholder="Email" name="email">
            <input type="text" placeholder="First Name" name="first">
            <input type="text" placeholder="Last Name (Optional)" name="last">
            <input type="text" placeholder="Username" name="username" name="username">
            <input type="password" placeholder="Password" name="password">
            <button type="submit">Sign Up</button>
            <p>Already have an account? <a href="/login">Log in</a></p>
        </form>
    </div>
</body>
</html>